# Игнорируем файлы конфигурации и секретные данные
.env

# Игнорируем виртуальное окружение
.venv/

# Игнорируем кеши Python
__pycache__/
*.pyc
*.pyo

# Игнорируем миграции кеша
migrations/versions/__pycache__/

# Игнорируем файлы IDE
*.idea/
*.vscode/
